/*
.clock_img {
    background: url('../img/clock.png') no-repeat center center;
    background-size: 100% auto;
    height: 300px;
}

.clock_text {
    font-size: 1.7rem;
}
*/

/*
.nav-pills .nav-link.active, .nav-pills .show > .nav-link > #naiyo {
    color: #fff;
    background-color: orange;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link > #jikangai {
    color: #fff;
    background-color: green;
}
*/